body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color:#1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0;
}

li {
    padding: 0 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.first-container {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.main-content1 {
    display: flex;
    gap: 100px;
}

.text {
    max-width: 300px;
    min-height: 270.97px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-top: 0;


}

.first-img {
    height: auto;
    width: 400px;
    border-radius: 15px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 0;  
}



.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0;

}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 150px;
    gap: 10px;
}

.card-img {
    width: 100px;
    height: auto;
    display: flex;
    flex: 1;
    border-radius: 15px;

}

.card-text {
    color: #1F2937;
}

.third-container {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 50px;
    flex-direction: column;    
}

.quote{
    padding-left: 300px;
    padding-right: 300px;
    flex-shrink: 0;
}

.thor {
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    margin: 0;
    font-weight: 700;
    padding-left: 300px;
    padding-right: 300px;
    flex-shrink: 0;
}

.fourth-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.call {
    background-color: #3882F6;
    max-height: 250px;
    max-width: auto;
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    gap: 200px;
    border-radius: 15px;
}

.call-button {
    border-color: white;
    background-color: #3882F6;
    border-width: 1px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: 700;   
}

.call-to-action {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.product {
    color: white;
    font-size: 14px;


}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}